openapi: 3.1.0
info:
  title: 金数据 API v1
  version: '1.0'
  description: |
    金数据（Jinshuju）对外开放接口 v1，用于读写表单、表格、数据、视图、评论、对外查询等资源。
    产品侧的说明见 [金数据开放平台](https://open.jinshuju.net/api_v1)。

    ## 请求约定
    - 基础地址：`https://jinshuju.net/api/v1`，所有路径都相对于它。
    - 请求头：`Content-Type: application/json`、`Accept: application/json`、`Authorization`（见下）。
    - 更新接口以 `PATCH` 为准（只修改出现的键），同路径的 `PUT` 是兼容别名，按 `PATCH` 处理和校验；「数据」资源的 `PUT`（整体覆盖）与 `PATCH`（增量更新）语义不同，已分别列出。
    - 响应统一为 JSON，并带 `Access-Control-Allow-Origin: *`。
    - 字段定义相关的 schema（`FieldInput` 及各 `<Type>Input`、`FieldUpdateInput`、`FormCreateInput`、`TableCreateInput` 等）按字段 `type` 分支并带条件约束。

    ## 认证
    - **Bearer Token（推荐）**：`Authorization: Bearer ACCESS_TOKEN`。支持三类令牌：
      - 个人 Access Token：以该用户身份访问其创建或被共享的表单；
      - 企业 Access Token（企业版套餐）：以企业账户范围访问全部表单，此时接口没有「当前用户」，创建类操作记在企业账户负责人名下；
      - OAuth 2.0 访问令牌：按令牌 scope 限制可调用的接口，scope 不足返回 `403`。每个接口的说明中标注了所需 scope
        （`forms` / `form_setting` / `read_entries` / `write_entries` / `read_contacts` / `users` / `public`）。
    - **HTTP Basic（旧版，将下线）**：`api_key:api_secret` 做 Base64 后放入 `Authorization: Basic ...`。
    - 令牌无效或已撤销返回 `401`；当前套餐不含 API v1 能力返回 `402`。

    ## 速率限制
    按企业账户（或令牌）每小时计数，额度由套餐决定（默认 120 次/小时）。超限返回 `429`，
    响应头带 `Retry-After`、`X-RateLimit-Limit`、`X-RateLimit-Remaining`、`X-RateLimit-Reset`。

    ## 错误格式
    业务错误统一返回 `{ "error_description": "..." }`，HTTP 状态码表达错误类别：
    `400` 参数或数据校验失败、`401` 未认证、`402` 套餐不支持、`403` 无权限 / 配额已满 / scope 不足、
    `404` 资源不存在或不可访问、`422` 批量操作全部失败、`429` 超过速率限制。

    ## 分页
    列表接口返回 `{ total, count, data, next }`。`next` 为 `null` 表示已到末页；把它原样回传即可取下一页。
    `skip` 可以指定起始行（0 起、最大 10000），用于并行切片读取；`skip` 与 `next` 不能同时传。
    表单、表格、数据列表以及「我填写的」列表可用 `limit` 指定每页条数（缺省 50，最大 1000）；视图数据列表固定每页 50 条。
    小金商户的订单 / 退款 / 提现列表按页码分页：返回 `page_info`（total、page、per_page、total_pages）与记录数组，`limit` 缺省且最大 50；还有下一页时才带 `next`（下一页页码），原样回传即可。

    ## 时间与时区
    `created_at` / `updated_at` 等系统时间以 UTC ISO 8601 返回（如 `2021-09-28T02:59:42.539Z`）；
    日期字段的值按字段精度以北京时间格式化（如 `2012-12-25` 或 `2012-12-25 12:13`），写入时同样按北京时间解析。

    ## 输入校验
    服务端按本文档校验每个请求的路径参数、查询参数和 JSON 请求体（上传接口的 multipart 请求体除外）。
    - 默认为**报告模式**：不合法的请求照常处理，但响应带 `X-API-Input-Warnings` 头说明问题，便于接入方自查。
    - 切到**强制模式**后（按企业账户逐步开启），不合法的请求直接返回 `400`，请求体为 `{ error_description, errors: [{ pointer, message, code }] }`；
      非 `application/json` 的请求体返回 `415`。
    - 请求体 schema 中未列出的键视为错误（数据写入的字段值除外，由表单字段定义决定）。
servers:
- url: https://jinshuju.net/api/v1
  description: 生产环境
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Forms
  description: 表单：列表、结构、创建与编辑，以及字段规则、协作者、复制、移动等附属操作。
- name: Form Settings
  description: 表单设置：提交设置、访问策略、Webhook、主题、关闭规则、考试 / 测评场景设置。
- name: Entries
  description: 表单数据：列表、查询、新增、更新、删除与批量操作。
- name: Tables
  description: 数据表格（kind=table）：结构与数据，字段类型限于表格支持的列类型。
- name: Views
  description: 表单 / 表格视图（视图筛选、排序、列配置）及按视图读取数据。
- name: Comments
  description: 数据评论。
- name: OpenSearch
  description: 对外查询。
- name: Folders
  description: 文件夹。
- name: Predefined Choices Sets
  description: 预置选项集。
- name: Templates
  description: 模板使用。
- name: Contacts
  description: 联系人。
- name: Account
  description: 当前用户与企业账户：成员、发票、消费记录、短信签名审核状态。
- name: Trade
  description: 小金商户：商户与入驻进度、收款订单、交易统计、退款与提现。
- name: Uploads
  description: 附件、表单图片、导入文件的上传。
- name: Utilities
  description: 工具类接口。
paths:
  "/forms":
    get:
      tags:
      - Forms
      summary: 获取表单列表
      operationId: listForms
      description: |
        返回当前身份可见的表单（`kind=form`，不含表格与快速支付）。个人令牌返回该用户创建及被共享的表单；企业令牌返回企业下全部表单。
        默认按 id 倒序（即创建时间倒序），`next` 是下一页第一条的 id；传 `sort` 时按指定字段排序，`next` 变为 `row:<偏移量>`。
        每页默认 50 条，可用 `limit` 调整（最大 1000）。
        - 每行带 `entries_count`（数据量）与 `last_entry_created_at`（最近一次收到数据的时间），可配合 `filters` / `sort` 使用。
        - `include_transactions=true` 时，已绑定收款账户的表单附带 `transactions` 收款统计。

        OAuth 令牌需要 scope：forms
      parameters:
      - $ref: '#/components/parameters/FormsQ'
      - $ref: '#/components/parameters/FormsFilters'
      - $ref: '#/components/parameters/FormsSort'
      - $ref: '#/components/parameters/FormsNext'
      - $ref: '#/components/parameters/FormsSkip'
      - $ref: '#/components/parameters/PageLimit'
      - $ref: '#/components/parameters/IncludeTransactions'
      responses:
        '200':
          description: 表单列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
      - Forms
      summary: 创建表单
      operationId: createForm
      description: |
        用字段定义列表创建一个表单，返回完整的表单结构。`name` 与 `fields` 必填。
        - `scene` 决定表单场景；考试 / 测评题型（如 `SingleSelect`、`FillInBlank`）只能在支持的场景下使用。
        - `layout=card`（分页式）不支持 PageBreak、Matrix*、TableField、GoodsField、ESignatureField、FormAssociation、MultipleBlanksField 及各类 Widget 字段。
        - `folder_token` 指定的文件夹必须可管理且 kind 为 form，否则分别返回 404 / 400。
        - `setting` 只接受白名单内的键（见 `FormSettingWriteInput`），`setting.notification_rules` 会整体替换由 API 创建的通知规则。
        - 返回的表单结构带 `url`（对外填写地址）。

        OAuth 令牌需要 scope：forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormCreateInput'
      responses:
        '201':
          description: 创建成功，返回表单结构
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: folder_token 指定的文件夹不存在或不可管理
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    get:
      tags:
      - Forms
      summary: 获取表单结构
      operationId: getForm
      description: |
        返回表单名称、对外填写地址（`url`）、描述、字段定义与设置。`fields` 中每个元素是 `{ "<api_code>": {...} }` 的单键对象，按字段顺序排列。
        以下内容在对应参数为 `true` 时附带：
        - `include_analytics`：每个可分析字段的定义中附带 `analytics`；
        - `include_theme`：附带 `theme`（表单主题）；
        - `include_field_rules`：附带 `field_rules`（字段显示规则）；
        - `include_extended_attributes`：附带 `extended_attributes`（数据来源链接）；
        - `include_transactions`：表单绑定了收款账户时附带 `transactions`（收款统计）。

        OAuth 令牌需要 scope：forms
      responses:
        '200':
          description: 表单结构
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - name: include_analytics
        in: query
        required: false
        description: 是否在每个可分析字段上附带 `analytics`（可用的聚合函数、能否分组、数据概况形态），缺省为 false。
        schema:
          type: boolean
          default: false
      - name: include_theme
        in: query
        required: false
        description: 为 `true` 时附带 `theme`（表单主题）。
        schema:
          type: boolean
          default: false
      - name: include_field_rules
        in: query
        required: false
        description: 为 `true` 时附带 `field_rules`（字段显示规则，同 `GET /forms/{form_token}/field_rules` 的 `data`）。
        schema:
          type: boolean
          default: false
      - name: include_extended_attributes
        in: query
        required: false
        description: 为 `true` 时附带 `extended_attributes`（数据来源链接，同 `GET /forms/{form_token}/extended_attributes` 的 `data`）。
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/IncludeTransactions'
    patch:
      tags:
      - Forms
      summary: 编辑表单
      operationId: updateForm
      description: |
        增量编辑表单，也接受 `PUT`。请求体至少包含 `name` / `description` / `fields` / `setting` / `field_rules` 之一，否则返回 400。
        - `fields` 按 `add` / `remove` / `update` / `update_choices` 四类操作增量修改，未提及的字段、选项与 api_code 全部保留；
          `update[].type` 可原地切换字段类型，会清空数据的切换必须带 `confirm_data_loss: true`。
        - `field_rules` 以 `GET /forms/{form_token}/field_rules` 返回的 `index` 定位规则做 `add` / `remove` / `update`。
        - `setting` 与创建时相同，只接受白名单内的键。
        返回更新后的完整表单结构。

        OAuth 令牌需要 scope：forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormUpdateInput'
      responses:
        '200':
          description: 更新成功，返回表单结构
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
      - Entries
      summary: 新增数据（旧路径）
      operationId: createEntryLegacy
      deprecated: true
      description: |
        `POST /forms/{form_token}/entries` 的旧别名，行为完全相同。新接入请使用新路径。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/EntryValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/fields/check":
    get:
      tags:
      - Forms
      summary: 检查字段是否已有数据
      description: |
        删除字段或选项前使用：批量检查字段（或字段的单个选项）是否已有提交的数据。删除仍有数据的字段或选项会连同这些数据一起删除且无法恢复。
        与网页编辑器删除前的检查结果一致。
        - 一次编辑涉及的所有删除目标放在同一次调用的 `checks` 里（最多 100 个，可跨多个字段）；`results` 与 `checks` 顺序一一对应。
        - 某个目标无法检查（如字段不存在）时，该行返回 `unavailable` 说明原因，其余目标照常返回。
        - `checks` 缺失、为空、超过 100 个、不是 JSON 数组或其中某项不是对象时返回 400。

        OAuth 令牌需要 scope：forms。
      operationId: checkFormFieldData
      parameters:
      - $ref: '#/components/parameters/FormToken'
      - $ref: '#/components/parameters/FieldDataChecks'
      responses:
        '200':
          description: 逐项检查结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/fields/preview_convert":
    get:
      tags:
      - Forms
      summary: 预览字段类型转换
      description: |
        修改字段类型（PATCH /forms/{form_token} 中字段的 `type`）前使用：不修改任何数据，按字段当前的数据统计转换后保留与清空的条数。
        类型转换在原字段上进行（api_code 与数据列不变），因此受影响的只有数据；与网页编辑器转换前的预览结果一致。
        - 一次编辑涉及的所有转换放在同一次调用的 `checks` 里（最多 20 个）；`results` 与 `checks` 顺序一一对应。
        - `supported=false` 表示该字段不支持转换为目标类型，实际编辑也会被拒绝。
        - 多行文本转换为单选 / 多选等选择类字段时，额外返回将从已有数据生成的选项数 `choice_count`，以及是否超过选项上限 `choice_limit_exceeded`（超过时转换会被拒绝，而不是截断）。
        - 某项无法预览（字段不存在、`target_type` 不是该表单可用的类型等）时，该行返回 `unavailable` 说明原因，其余项照常返回。
        - `checks` 缺失、为空、超过 20 个、不是 JSON 数组或其中某项不是对象时返回 400。

        OAuth 令牌需要 scope：forms。
      operationId: previewFormFieldTypeChange
      parameters:
      - $ref: '#/components/parameters/FormToken'
      - $ref: '#/components/parameters/FieldTypeChangeChecks'
      responses:
        '200':
          description: 逐项预览结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldTypeChangePreviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/entries":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    get:
      tags:
      - Entries
      summary: 获取数据列表
      operationId: listEntries
      description: |
        分页返回表单数据，每页缺省 50 条，可用 `limit` 指定（最大 1000）。默认按序号升序，`next` 为下一页第一条的序号。
        - `filters` / `keyword` 触发条件查询，`created_at` 只返回该时间及之后创建的数据（并改为按创建时间排序）；
          这两种情况以及传 `sort` 时，`next` 变为行偏移量。
        - `fields` 只返回指定字段（序号始终返回）。
        - 每条数据的键为字段 api_code（配置了 api_code_alias 的字段以别名为键），值的形态见 `EntryData`。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/EntriesFields'
      - $ref: '#/components/parameters/EntriesFilters'
      - $ref: '#/components/parameters/EntriesKeyword'
      - $ref: '#/components/parameters/EntriesSort'
      - $ref: '#/components/parameters/EntriesCreatedAt'
      - $ref: '#/components/parameters/EntriesNext'
      - $ref: '#/components/parameters/EntriesSkip'
      - $ref: '#/components/parameters/EntriesIncludeLabels'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: 数据列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
      - Entries
      summary: 新增数据
      operationId: createEntry
      description: |
        以字段 api_code（或 api_code_alias）为键提交一条数据。未知键被忽略；有效键为空时返回 400，`error_description` 以 `Entry attributes cannot be empty` 开头，并逐个说明被丢弃的键（不是该表单的字段，或是不可写入的签名 / 计算字段）。
        - 表单的「字段规则」与字段校验依然生效，校验失败返回 400，`error_description` 是 `{ "<api_code>": ["错误"] }` 序列化后的 JSON 字符串。
        - 手机字段跳过短信验证；签名字段、计算字段不可写入。
        - 表单数据量达到套餐上限时返回 403。
        - 附件字段接受多种写法，见 `EntryInput`。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
            example:
              field_1: 张三
              field_2: '13800000000'
              field_3:
              - 选项 A
              - 选项 B
              field_4: '2024-05-01'
      responses:
        '201':
          description: 创建成功，返回该条数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/EntryValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          description: 表单数据量已达上限（`Form has reached entries limit`），或 OAuth scope 不足
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/entries/count":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    get:
      tags:
      - Entries
      summary: 统计数据条数
      operationId: countEntries
      description: |
        返回满足筛选条件的数据条数，不返回数据本身。`filters` / `keyword` 与 `GET /forms/{form_token}/entries` 相同；都不传时返回表单全部数据条数。
        协作者只统计其角色可见范围内的数据。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/EntriesFilters'
      - $ref: '#/components/parameters/EntriesKeyword'
      responses:
        '200':
          description: 数据条数
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryCountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/entries/aggregate":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    get:
      tags:
      - Entries
      summary: 聚合统计数据
      operationId: aggregateEntries
      description: |
        在服务端对满足筛选条件的数据做整列聚合（求和、平均、计数、分位数等），可按 1～2 个字段分组。响应大小只取决于指标与分组数，与数据量无关。
        - `metrics` 必填，1～20 项；每个字段可用的函数见 `GET /forms/{form_token}?include_analytics=true` 返回的 `analytics.agg_funcs`。
        - `dimensions` 可选，最多 2 项；只有 `analytics.groupable` 为 true 的字段（单值的选项类字段和日期字段）可以分组，日期字段必须指定 `bucket`。
        - 不传 `dimensions` 时 `rows` 只有一行；分组时每组一行，最多 `limit` 组，`row_count` 为分组总数，超出时 `truncated` 为 true。
        - `filters` / `keyword` 与数据列表相同，但不支持 `creator_id` 条件（返回 400）。
        - 字段不存在、无权读取、函数或分组方式不适用于该字段时返回 400，并说明可用的字段 / 函数 / 分组方式。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/AggregateMetrics'
      - $ref: '#/components/parameters/AggregateDimensions'
      - $ref: '#/components/parameters/AggregateLimit'
      - $ref: '#/components/parameters/EntriesFilters'
      - $ref: '#/components/parameters/EntriesKeyword'
      responses:
        '200':
          description: 聚合结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryAggregateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/entries/summary":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    get:
      tags:
      - Entries
      summary: 数据概况
      operationId: summarizeEntries
      description: |
        一次读取表单数据的整体概况：总览（匹配条数、今日新增）加上每个可分析字段的分布或数值统计。响应只有几 KB，与数据量无关。
        - 每个字段按 `kind` 返回统一结构：选项类给出各选项计数与占比，矩阵类按题目分组，数字给出最小 / 最大 / 求和 / 平均，日期给出最早 / 最晚，文本给出去重数。
        - 默认包含全部可分析字段（`analytics.summarisable` 为 true 的字段，另含 `created_at`），最多 60 个；超出的字段列在 `omitted_fields` 中，`truncated` 为 true。
        - `fields` 指定的字段不可分析或无权读取时返回 400。
        - `filters` / `keyword` 与数据列表相同，但不支持 `creator_id` 条件（返回 400）。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/SummaryFields'
      - $ref: '#/components/parameters/SummaryIncludeOverview'
      - $ref: '#/components/parameters/EntriesFilters'
      - $ref: '#/components/parameters/EntriesKeyword'
      responses:
        '200':
          description: 数据概况
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntrySummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/entries/batch":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    post:
      tags:
      - Entries
      summary: 批量新增数据
      operationId: createEntriesBatch
      description: |
        一次最多提交 200 条数据。逐条校验，合法的批量写入，非法的记录在 `errors` 中（`index` 为请求数组下标）。
        至少一条成功返回 201，全部失败返回 422；`entries` 为空或超过 200 条返回 400。
        提交前会按条数检查数据量上限，超限返回 403。批量写入不会触发单条新增的回调，但会创建一条「导入」活动记录并回填计算字段。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - entries
              properties:
                entries:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    $ref: '#/components/schemas/EntryInput'
              additionalProperties: false
      responses:
        '201':
          description: 至少一条创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          description: 表单数据量已达上限，或 OAuth scope 不足
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 全部条目创建失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateResult'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
      - Entries
      summary: 批量更新数据
      operationId: patchEntriesBatch
      description: |
        按序号批量增量更新，一次最多 200 行。每行 `serial_number` 必填，`entry` 为要修改的字段（未提及的字段保持不变）。
        逐行校验，失败的行记录在 `failed_rows`（`reason` 为 `invalid_serial_number` / `invalid_attributes` 等）。
        至少一行成功返回 200，全部失败返回 422；`entries` 为空或超过 200 行返回 400。
        批量更新不处理附件生命周期，因此**不能写附件字段**（含表格字段中的附件列），需要逐条更新。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - entries
              properties:
                entries:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required:
                    - serial_number
                    - entry
                    properties:
                      serial_number:
                        type: integer
                        description: 要更新的数据序号
                      entry:
                        $ref: '#/components/schemas/EntryInput'
                    additionalProperties: false
              additionalProperties: false
      responses:
        '200':
          description: 至少一行更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPatchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 全部行更新失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPatchResult'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/entries/{serial_number}":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    - $ref: '#/components/parameters/SerialNumber'
    get:
      tags:
      - Entries
      summary: 获取单条数据
      operationId: getEntry
      description: |
        按序号返回一条数据。`fields` 可限定返回的字段。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/EntriesFields'
      - $ref: '#/components/parameters/EntriesIncludeLabels'
      responses:
        '200':
          description: 单条数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
      - Entries
      summary: 覆盖更新数据
      operationId: replaceEntry
      description: |
        **整体覆盖**：请求体中未出现的可写字段会被清空，只保留本次提交的值。需要增量修改请用 `PATCH`。
        校验失败返回 400，`error_description` 为字段错误的 JSON 字符串。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
      responses:
        '200':
          description: 更新成功，返回该条数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/EntryValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
      - Entries
      summary: 增量更新数据
      operationId: updateEntry
      description: |
        **增量更新**：只修改请求体中出现的字段，其余字段保持原值。附件字段是整组覆盖，要保留已有文件需把读到的地址或附件 id 一并回传。
        校验失败返回 400，`error_description` 为字段错误的 JSON 字符串。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
      responses:
        '200':
          description: 更新成功，返回该条数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/EntryValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
      - Entries
      summary: 删除数据
      operationId: deleteEntry
      description: |
        删除一条数据并记录删除活动。成功返回被删除数据的序号；删除失败（如表单状态不允许）返回 400。

        OAuth 令牌需要 scope：write_entries
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                required:
                - serial_number
                properties:
                  serial_number:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
      - Entries
      summary: 增量更新数据（POST）
      operationId: updateEntryViaPost
      description: |
        与 `PATCH` 同路径的 POST 别名，语义为增量更新，供不便发送 PATCH 的客户端使用。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
      responses:
        '200':
          description: 更新成功，返回该条数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/EntryValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/entries/{serial_number}/comments":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    - $ref: '#/components/parameters/SerialNumber'
    get:
      tags:
      - Comments
      summary: 列出数据评论
      description: 按创建时间升序返回该条数据的全部评论，含创建者、被提及的用户与附件。 调用者若为协作者，需要对该表单具备数据读取权限且该条数据在其数据范围内，否则返回 400。 OAuth 令牌需要 scope：read_entries。
      operationId: listEntryComments
      responses:
        '200':
          description: 评论列表
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - data
                properties:
                  count:
                    type: integer
                    description: 评论数量
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntryComment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Comments
      summary: 创建数据评论
      description: 在该条数据下创建评论，评论者为当前调用者，content 会去除首尾空白。content 为空或超过 2000 字返回 400。 content 中可用 @[<user_id>]（24 位十六进制用户 id）提及用户，被提及者必须是该表单的协作者，否则返回 400 并且不创建评论。 parent_id 用于回复，父评论必须属于同一条数据，否则返回 400。通过本接口无法附加文件。 调用者若为协作者，需要具备数据读取权限且该条数据在其数据范围内，否则返回 400。 OAuth 令牌需要 scope：read_entries。
      operationId: createEntryComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EntryCommentInput'
              - type: object
                required:
                - content
      responses:
        '201':
          description: 创建成功，返回评论
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryComment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/entries/{serial_number}/comments/{comment_id}":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    - $ref: '#/components/parameters/SerialNumber'
    - name: comment_id
      in: path
      required: true
      description: 评论 id
      schema:
        type: string
    patch:
      tags:
      - Comments
      summary: 更新数据评论
      description: 修改评论内容，也接受 PUT。只有评论作者本人可以编辑，表单管理员也不能编辑他人评论，否则返回 400。 content 规则与创建相同（去除首尾空白、最长 2000 字、提及者必须是协作者）；评论已有的附件保持不变。 评论不属于该条数据时返回 404（comment cannot be found）。 OAuth 令牌需要 scope：read_entries。
      operationId: updateEntryComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - content
              properties:
                content:
                  type: string
                  maxLength: 2000
                  description: 新的评论内容，可包含 @[<user_id>] 提及
              additionalProperties: false
      responses:
        '200':
          description: 更新成功，返回评论
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryComment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Comments
      summary: 删除数据评论
      description: 删除评论。评论作者本人、表单创建者或管理员角色的协作者可以删除，其他协作者返回 400。 已删除或不属于该条数据的评论返回 404（comment cannot be found）。 OAuth 令牌需要 scope：read_entries。
      operationId: deleteEntryComment
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                properties:
                  id:
                    type: string
                    description: 被删除评论的 id
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/setting":
    get:
      tags:
      - Form Settings
      summary: 获取表单设置
      description: |
        返回表单的提交后设置、收集规则（关闭规则、填写频率）、访问策略、微信限制与 Webhook 设置。
        OAuth 令牌需要 scope：form_setting。
        仅当表单选择了微信公众号（selected_weixin_appid 存在）时才返回 `weixin` 字段。
      operationId: getFormSetting
      parameters:
      - $ref: '#/components/parameters/FormToken'
      responses:
        '200':
          description: 表单设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSetting'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Form Settings
      summary: 更新表单设置
      description: |
        增量更新表单设置，只写入请求中出现的键；同时接受 PUT。
        OAuth 令牌需要 scope：form_setting。
        - `submission_region_limited` / `submission_regions` 为付费功能，在此接口只读，传入会被忽略。
        - `manually_close_rule`、`by_time_range_close_rule`、`by_entries_close_rule`、`fill_frequency` 为嵌套对象，服务端以 nested attributes 方式创建或更新。
        - 保存成功返回 `{ "status": "ok" }`；模型校验失败返回 400，响应体为 `{ "errors": "...", "status": "failed" }`（与通用错误结构不同）。
      operationId: updateFormSetting
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormSettingInput'
      responses:
        '200':
          description: 保存成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSettingSaveOk'
        '400':
          description: 模型校验失败，响应体为 errors/status 结构而非通用 error_description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSettingSaveFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/manually_close_rule":
    get:
      tags:
      - Form Settings
      summary: 获取手动关闭状态
      description: |
        返回表单是否被手动关闭收集。未创建过手动关闭规则时返回 `{ "closed": false }`。
        OAuth 令牌需要 scope：form_setting。
      operationId: getManuallyCloseRule
      parameters:
      - $ref: '#/components/parameters/FormToken'
      responses:
        '200':
          description: 手动关闭规则
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManuallyCloseRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Form Settings
      summary: 手动开启或关闭收集
      description: |
        通过 `open` 手动开启（true）或关闭（false）表单收集；同时接受 PUT。
        不存在手动关闭规则时会创建，存在则更新。手动关闭状态发生变化时，服务端会删除该表单的其他关闭规则（按时间、按数据量等）。
        OAuth 令牌需要 scope：form_setting。
        缺少 `open` 参数时返回 400（响应体以服务端实现为准）；保存失败返回 400，响应体为 `{ "errors": "...", "status": "failed" }`。
      operationId: updateManuallyCloseRule
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormManuallyCloseRuleInput'
      responses:
        '200':
          description: 更新后的手动关闭规则
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManuallyCloseRule'
        '400':
          description: 缺少 open 参数，或保存失败（errors/status 结构）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSettingSaveFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/access_policy":
    patch:
      tags:
      - Form Settings
      summary: 更新填写频率限制
      description: |
        更新表单的填写频率限制（fill_frequency）；同时接受 PUT。
        该接口只接受 `fill_frequency` 一个键，其余访问策略字段请使用 PATCH /forms/{form_token}/setting。
        OAuth 令牌需要 scope：form_setting。
        保存成功返回 `{ "status": "ok" }`；校验失败返回 400，响应体为 `{ "errors": "...", "status": "failed" }`（与通用错误结构不同）。
      operationId: updateAccessPolicy
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyInput'
      responses:
        '200':
          description: 保存成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSettingSaveOk'
        '400':
          description: 模型校验失败（errors/status 结构）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSettingSaveFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/webhook":
    post:
      tags:
      - Form Settings
      summary: 设置 Webhook
      description: |
        设置表单的数据推送地址 `entry_post_url`，并同时开启新数据推送（post_new_entry = true）。
        OAuth 令牌需要 scope：form_setting。
        需要套餐支持 Webhook，否则返回 402 且响应体为空。
        服务端不检查保存结果，直接回显设置中的 `entry_post_url`（URL 格式不合法时是否已持久化以服务端实现为准）。
      operationId: createFormWebhook
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '200':
          description: 当前的推送地址
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormWebhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: 套餐不支持 API v1 访问（返回 error_description），或套餐不支持 Webhook（响应体为空）
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_description:
                    type: string
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Form Settings
      summary: 删除 Webhook
      description: |
        移除表单设置中的 `entry_post_url`。成功返回 200，响应体为空。
        OAuth 令牌需要 scope：form_setting。
      operationId: deleteFormWebhook
      parameters:
      - $ref: '#/components/parameters/FormToken'
      responses:
        '200':
          description: 已删除，响应体为空
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/theme":
    patch:
      tags:
      - Form Settings
      summary: 更新表单主题
      description: |
        增量修改表单主题（配色、背景、头图、字体、表单容器、提交按钮）；同时接受 PUT。
        - 请求体必须至少包含 primary_color / secondary_color / wallpaper / header / typography / form_container / submit_button 之一（`generate_header_image` 会被转换为 header.header_image_url，因此也算），否则 400。
        - 头图来源优先级：header_image_upload_token > header_image_base64 > header_image_url > header_image_attachment_id；设置头图后若未指定 header.type，则自动设为 image。
        - 背景图来源优先级：background_image_upload_token > background_image_url > background_image_attachment_id。设置或移除背景图时会同时去掉主题模板自带的预设背景图，背景色保留。
        - `header_image_attachment_id` / `background_image_attachment_id` 填「上传表单图片」（image_type 为 header / wallpaper）返回的 `attachment_id`；传空字符串 `""` 移除当前图片。
        - `header.carousel_images` 整体替换轮播图，最多 5 张，不能为空；每项需提供 image_upload_token / image_url / attachment_id 之一，attachment_id 必须是该表单已有的轮播图；传入后若未指定 header.type，则自动设为 carousel。
        - `text_style` 与 `typography.*` 中的键使用下划线（如 font_size），服务端转换为 CSS 连字符键并与现有样式合并；返回值中为连字符键。
        - `generate_header_image` 调用 AI 生成头图，消耗 AI 点数；点数不足返回 402，生成失败返回 400。
        - 图片 upload_token 即「上传表单图片」使用的 `form_image_token`，其记录的图片用途需匹配（header / wallpaper / carousel），且必须已完成上传。

        OAuth 令牌需要 scope：form_setting
      operationId: updateFormTheme
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThemeInput'
      responses:
        '200':
          description: 保存后的主题
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormTheme'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/exam_setting":
    get:
      tags:
      - Form Settings
      summary: 获取考试设置
      description: |
        返回考试场景表单的交卷后展示、限时答题、考前须知与分数区间评语设置。
        仅考试场景（scene = exam）表单可用，否则返回 400。表单尚无考试设置记录时返回空对象 `{}`。
        OAuth 令牌需要 scope：form_setting。
      operationId: getExamSetting
      parameters:
      - $ref: '#/components/parameters/FormToken'
      responses:
        '200':
          description: 考试设置（可能为空对象）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamSetting'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Form Settings
      summary: 更新考试设置
      description: |
        增量更新考试场景表单的设置；同时接受 PUT。仅考试场景表单可用，否则返回 400。
        OAuth 令牌需要 scope：form_setting。
        - 套餐不支持"提交后显示成绩"时，`notice_after_filling_mode` 会被强制写为 none，且 `success_message_rich_text` 被忽略。
        - `interval_comments` 整体替换现有区间评语；仅在（本次传入或已保存的）`notice_after_filling_mode` 为 grade / explaination / answer 时生效；传空数组不会关闭区间评语。
        - 区间评语需满足 end_point ≥ start_point 且互不重叠，否则 400。
        - `notice_after_filling_mode` 不为 none 时，服务端会清空表单设置中的 success_redirect_url / success_redirect_fields。
        - 请求体不含任何可识别键时视为无操作，直接返回当前设置。
      operationId: updateExamSetting
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamSettingInput'
      responses:
        '200':
          description: 保存后的考试设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamSetting'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/evaluation_setting":
    get:
      tags:
      - Form Settings
      summary: 获取测评设置
      description: |
        返回测评场景表单的报告展示、维度（指标）设置与总分区间评语。
        仅测评场景（scene = evaluation）表单可用，否则返回 400。表单尚无测评设置记录时返回空对象 `{}`。
        OAuth 令牌需要 scope：form_setting。
      operationId: getEvaluationSetting
      parameters:
      - $ref: '#/components/parameters/FormToken'
      responses:
        '200':
          description: 测评设置（可能为空对象）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationSetting'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Form Settings
      summary: 更新测评设置
      description: |
        增量更新测评场景表单的设置；同时接受 PUT。仅测评场景表单可用，否则返回 400。
        OAuth 令牌需要 scope：form_setting。
        - 套餐不支持"提交后显示测评报告"时，`notice_after_filling_mode` 会被强制写为 none。
        - `evaluation_comments` 整体替换总分区间评语，传空数组则关闭区间评语；仅在（本次传入或已保存的）`notice_after_filling_mode` 为 reports / customize 时生效。
        - 按分数区间的评语必须同时给出 start_point 与 end_point；在表单编辑器中按条件编写的评语会以 `id` + `conditions` 读回，更新时必须按原 id 传回（只能改 comment / retry，不能改条件或加区间），遗漏或改动均返回 400。
        - `indicator_setting.indicators` 整体替换维度；传回 `api_code` 可保留已有维度身份。维度只能绑定表单上可见的可计分题目，可用 `field_api_codes` 或 `field_cids` 引用，引用未知字段返回 400。
        - `notice_after_filling_mode` 不为 none 时，服务端会清空表单设置中的 success_redirect_url / success_redirect_fields。
        - 请求体不含任何可识别键时视为无操作，直接返回当前设置。
      operationId: updateEvaluationSetting
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationSettingInput'
      responses:
        '200':
          description: 保存后的测评设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationSetting'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/field_rules":
    get:
      tags:
      - Forms
      summary: 获取字段显示规则
      description: |
        返回表单的有效字段显示规则（逻辑跳转）。`index` 为 0 起始的位置，PATCH /forms/{form_token} 的 field_rules 更新与删除按此 index 定位。
        OAuth 令牌需要 scope：forms。
      operationId: listFieldRules
      parameters:
      - $ref: '#/components/parameters/FormToken'
      responses:
        '200':
          description: 字段规则列表
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - data
                properties:
                  count:
                    type: integer
                    description: 规则数量
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FieldRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/extended_attributes":
    get:
      tags:
      - Forms
      summary: 获取数据来源链接
      description: |
        返回表单已生成的"跟踪数据来源"扩展属性（按创建时间升序），每条附带携带该值的填写链接。
        OAuth 令牌需要 scope：forms。
      operationId: listExtendedAttributes
      parameters:
      - $ref: '#/components/parameters/FormToken'
      responses:
        '200':
          description: 扩展属性列表
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - data
                properties:
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtendedAttribute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/cooperators":
    get:
      tags:
      - Forms
      summary: 获取表单协作者
      description: |
        返回表单的协作者及其角色名称，包含从文件夹继承的角色；同一用户通过多条路径获得角色时只返回距离最近的一条。
        OAuth 令牌需要 scope：forms。
      operationId: listFormCooperators
      parameters:
      - $ref: '#/components/parameters/FormToken'
      responses:
        '200':
          description: 协作者列表
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - data
                properties:
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cooperator'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/copy":
    post:
      tags:
      - Forms
      summary: 复制表单
      description: |
        复制表单并返回新表单（与 GET /forms/{form_token} 相同结构）。新表单的创建者为当前调用用户（账户级令牌为账户所有者）。
        OAuth 令牌需要 scope：forms。
        - 源表单允许公开复制（can_duplicated_in_public）时，不要求调用者对源表单有访问权限；否则无权限返回 404。
        - 源表单被冻结、或源表单创建者账号被禁用时返回 403，响应体为 `{ "errors": ..., "status_code": "form_forbidden" }`（与通用错误结构不同）。
        - `folder_token` 接受文件夹 token 或 id；文件夹不存在或无管理权限返回 404。
        - 复制失败（模型校验不通过）返回 400。
      operationId: copyForm
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyFormInput'
      responses:
        '200':
          description: 新建的表单
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          description: OAuth scope 不足（error_description 结构），或源表单/创建者被冻结（errors + status_code 结构）
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  required:
                  - error_description
                  properties:
                    error_description:
                      type: string
                - $ref: '#/components/schemas/FormFrozenError'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/folder":
    patch:
      tags:
      - Forms
      summary: 移动表单到文件夹
      description: |
        将表单移入指定文件夹，或移出文件夹（`folder_token` 传 null）；同时接受 PUT。移动仅影响当前调用用户的文件夹归属。
        OAuth 令牌需要 scope：forms。
        - 请求体必须包含 `folder_token` 键（值可为 null），否则 400。
        - `folder_token` 只接受文件夹 token（不接受 id）；文件夹不存在或当前用户无管理权限返回 404。
        - 文件夹类型（form / table）必须与表单类型一致，否则 400。
        - 移动表格请使用 `PATCH /tables/{table_token}/folder`。
      operationId: moveFormToFolder
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormFolderMoveInput'
      responses:
        '200':
          description: 移动结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormFolderMoveResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/weixin_oauth_session":
    post:
      tags:
      - Forms
      summary: 微信授权换 openid
      description: |
        用微信网页授权返回的 `code`，通过表单所选公众号换取用户 openid。
        表单微信授权 scope 为 userinfo 时，额外返回 `unionid`（微信有返回时）与 `profile`。
        OAuth 令牌需要 scope：write_entries。
        - 表单未配置微信公众号或公众号账号不存在时返回 400；缺少 `code` 返回 400。
        - 微信侧换取失败（code 无效等）或获取用户信息失败时返回 502。
      operationId: createWeixinOauthSession
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormWeixinOauthSessionInput'
      responses:
        '200':
          description: 授权结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormWeixinOauthSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          description: 微信 OAuth 或用户信息接口调用失败
          content:
            application/json:
              schema:
                type: object
                required:
                - error_description
                properties:
                  error_description:
                    type: string
                    description: 微信返回的 errmsg，或 "WeChat OAuth failed" / "WeChat userinfo failed"
  "/forms/{form_token}/views":
    get:
      tags:
      - Views
      summary: 列出表单视图
      description: 返回当前调用者在该表单上可见的视图：自己创建的视图，以及其他协作者设为 cooperators 可见的视图； 其他用户的 personal 视图不会返回。排序遵循调用者自己保存的视图顺序，未排序的视图按 position、created_at 追加在后。 OAuth 令牌需要 scope：forms。
      operationId: listFormViews
      parameters:
      - $ref: '#/components/parameters/FormToken'
      responses:
        '200':
          description: 视图列表
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - data
                properties:
                  count:
                    type: integer
                    description: 返回的视图数量
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Views
      summary: 创建表单视图
      description: 为表单创建一个新视图，创建者为当前调用者，visibility 未传时默认为 cooperators，position 为当前可见视图的最大值加 1。 每个用户在同一表单最多 100 个视图，达到上限返回 422（View limit reached）。 view_type 为 kanban 且未传 kanban_group_by_api_code 时，服务端自动选择分组字段；未传 kanban_hidden_groups 时默认隐藏 __unset__ 分组； prefer_columns 为空时使用表单默认列（看板视图最多 5 列，含 serial_number）。 filter 不合法（不是数组、字段不存在、运算符不支持、值不合法）返回 422。模型校验失败（如 name 为空或超过 120 字、分组字段不支持看板分组）返回 422。 表单视图（view_type 为 form）：仅表格支持，否则 422；title 缺省为表格名称，未传 field_overrides 时按当前列顺序勾选全部可填写的列，published 缺省 false（未发布时填写链接不可用）。title / description / published / field_overrides 只适用于表单视图，用在其他类型上返回 422。创建、修改、删除表单视图（包括把视图切换为或切换出表单视图）需要调用者在该表格上拥有可新增数据的预置角色，否则 403；企业令牌不受此限制。填写项的列不存在、不能作为填写项或设置了该列类型不支持的校验时返回 422，错误信息带列 api_code。 OAuth 令牌需要 scope：forms。
      operationId: createFormView
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FormViewInput'
              - type: object
                required:
                - name
      responses:
        '201':
          description: 创建成功，返回视图
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 请求无法处理（视图数量达到上限、筛选条件不合法、模型校验失败、不允许删除等），响应体为 { error_description }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewUnprocessableError'
  "/forms/{form_token}/views/{view_token}":
    parameters:
    - $ref: '#/components/parameters/FormToken'
    - name: view_token
      in: path
      required: true
      description: 视图 token
      schema:
        type: string
    get:
      tags:
      - Views
      summary: 获取表单视图
      description: 返回单个视图。只能读取调用者可见的视图（自己创建的或 cooperators 可见的），其他用户的 personal 视图返回 404（View cannot be found）。 OAuth 令牌需要 scope：forms。
      operationId: getFormView
      responses:
        '200':
          description: 视图详情
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Views
      summary: 更新表单视图
      description: 更新视图配置，也接受 PUT。只更新请求中出现的键：filter 传空数组会清空筛选，不传则保持不变； kanban_group_by_api_code 变化且未同时传 kanban_group_order / kanban_hidden_groups 时，这两个列表重置为默认值。 协作者可以修改 cooperators 可见视图的配置，但只有视图创建者可以切换 visibility，否则返回 403； view_scope 为 form 的视图不允许切换 visibility。filter 不合法或模型校验失败返回 422。 field_overrides 整体替换填写项配置；表单视图的权限要求与参数限制同创建。 OAuth 令牌需要 scope：forms。
      operationId: updateFormView
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormViewInput'
      responses:
        '200':
          description: 更新成功，返回视图
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 请求无法处理（视图数量达到上限、筛选条件不合法、模型校验失败、不允许删除等），响应体为 { error_description }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewUnprocessableError'
    delete:
      tags:
      - Views
      summary: 删除表单视图
      description: 删除视图。预置视图（predefined）和 view_scope 为 form 的视图不能删除，删除后调用者将不再有任何可见视图时也会拒绝，均返回 422。 删除表单视图需要与创建相同的权限（否则 403），删除后其填写链接立即失效，不可恢复。 OAuth 令牌需要 scope：forms。
      operationId: deleteFormView
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                required:
                - token
                properties:
                  token:
                    type: string
                    description: 被删除视图的 token
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 请求无法处理（视图数量达到上限、筛选条件不合法、模型校验失败、不允许删除等），响应体为 { error_description }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewUnprocessableError'
  "/forms/{form_token}/views/{view_token}/entries":
    get:
      tags:
      - Views
      summary: 列出视图数据
      description: 按视图的筛选条件和排序规则返回表单数据，每页最多 50 条。返回字段限定为视图 prefer_columns 中的字段（始终包含 serial_number）， prefer_columns 为空时返回全部可推送字段；排序按视图 sort 规则，未包含 serial_number 时追加 serial_number 升序。 分页使用 next 参数（行偏移量），最后一页 next 为 null。视图筛选中存在查询引擎不支持的运算符时返回 400。 只能访问调用者可见的视图，否则 404（View cannot be found）。 OAuth 令牌需要 scope：read_entries。
      operationId: listFormViewEntries
      parameters:
      - $ref: '#/components/parameters/FormToken'
      - name: view_token
        in: path
        required: true
        description: 视图 token
        schema:
          type: string
      - name: next
        in: query
        required: false
        description: 上一页响应中的 next 值（行偏移量，从 0 开始），负数按 0 处理
        schema:
          type: integer
          minimum: 0
      - $ref: '#/components/parameters/EntriesIncludeLabels'
      responses:
        '200':
          description: 数据列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/forms/{form_token}/entry_attachments":
    post:
      tags:
      - Uploads
      summary: 上传数据附件
      operationId: uploadEntryAttachment
      security:
      - {}
      - bearerAuth: []
      - basicAuth: []
      description: |
        为表单的附件字段（或表格字段中的附件列）预先上传一个文件，返回附件 ID；之后在创建 / 更新数据时把该 ID（或上传令牌）填入对应字段即可完成绑定。上传后未被任何数据引用的附件处于未使用状态。
        鉴权方式二选一：
        1. 常规 API 凭证（HTTP Basic 的 api_key / api_secret，或 Bearer 令牌）。
        2. 一次性上传令牌 `attachment_token`（代替常规凭证）：令牌以 `entry_att_tok_` 开头，30 分钟内有效、只能使用一次，并绑定到表单、字段、列与文件元数据。请求中带有 `attachment_token` 时不再校验常规凭证，以令牌所属用户的身份访问；令牌无效、过期、已使用、所属用户已被删除，或与请求的表单 / 字段 / 列不一致时返回 400 `attachment_token is invalid or expired; prepare upload again`；上传文件的文件名、Content-Type、字节数与令牌不一致时同样返回 400。
        没有凭证也没有 `attachment_token` 时返回 401。
        文件内容二选一：`multipart/form-data` 的 `file` 字段；或 JSON / 表单中的 `base64`（亦可用 `data`）字段传 Base64 字符串（可带 `data:<mime>;base64,` 前缀），配合 `file_name`（亦可用 `filename`）与 `content_type`。Base64 方式解码后不能超过 5 MB，超过返回 400 `attachment exceeds 5MB limit`，解码失败返回 400 `base64 is invalid`；两者都没有时返回 400 `file or base64 is required`。
        `field_api_code` 必须指向附件字段或表格字段；指向表格字段时必须同时传 `dimension_api_code` 且指向该表格中的附件列，否则返回 400；字段或列不存在返回 404。
        文件大小受字段（或列）设置的单文件上限限制，超出时返回 422，`error_description` 为具体校验信息（如 `文件超过了10 MB`）；上传到对象存储失败时返回 422 `上传失败，请重试`（以服务端文案为准）。
        表单不存在或当前身份无权访问时返回 404 `form cannot be found`。

        OAuth 令牌需要 scope：write_entries
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - field_api_code
              properties:
                field_api_code:
                  type: string
                  description: 附件字段的 api_code；表格字段中的附件列则传表格字段的 api_code
                dimension_api_code:
                  type: string
                  description: 表格字段中附件列的 api_code，`field_api_code` 为表格字段时必填
                attachment_token:
                  type: string
                  description: 一次性上传令牌，以 `entry_att_tok_` 开头；传入时代替常规凭证
                file:
                  type: string
                  description: 要上传的文件；与 `base64` 二选一
                  contentMediaType: application/octet-stream
                base64:
                  type: string
                  description: 文件内容的 Base64 字符串，可带 data URI 前缀；与 `file` 二选一
                data:
                  type: string
                  description: 与 `base64` 等价的别名
                file_name:
                  type: string
                  description: Base64 方式的文件名，缺省为 `attachment`
                filename:
                  type: string
                  description: 与 `file_name` 等价的别名
                content_type:
                  type: string
                  description: Base64 方式的 MIME 类型，缺省取 data URI 前缀，否则为 `application/octet-stream`
              additionalProperties: false
          application/json:
            schema:
              $ref: '#/components/schemas/EntryAttachmentBase64Input'
      responses:
        '201':
          description: 上传成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedEntryAttachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 附件未通过校验（如超过字段的单文件大小上限）或存储失败
          content:
            application/json:
              schema:
                type: object
                required:
                - error_description
                properties:
                  error_description:
                    type: string
                    description: 校验失败原因
  "/forms/{form_token}/import_files":
    post:
      tags:
      - Uploads
      summary: 上传导入文件
      operationId: uploadImportFile
      security:
      - {}
      - bearerAuth: []
      - basicAuth: []
      description: |
        上传一个用于批量导入数据的表格文件（`.xlsx` / `.xls` / `.csv`）到指定表单，返回导入附件 ID；随后把它作为 `attachment_id` 交给「从已上传的表格文件导入数据」（`POST /forms/{form_token}/entry_imports`）发起导入。
        鉴权方式二选一：
        1. 常规 API 凭证（HTTP Basic 的 api_key / api_secret，或 Bearer 令牌）。
        2. 一次性上传令牌 `import_file_token`（代替常规凭证）：令牌以 `import_file_tok_` 开头，30 分钟内有效、只能使用一次，并绑定到表单与文件元数据。请求中带有 `import_file_token` 时不再校验常规凭证，以令牌所属用户的身份访问；上传文件的原始文件名、Content-Type、字节数必须与令牌记录的一致，否则返回 400。令牌不存在、已过期、已使用，或所属用户已被删除时返回 400 `import_file_token is invalid or expired; prepare upload again`；令牌属于另一个表单时返回 400 `import_file_token was issued for another form; prepare upload again`。
        没有凭证也没有 `import_file_token` 时返回 401。
        请求必须为 `multipart/form-data`，字段 `file` 携带文件；缺少文件返回 400 `file is required`。
        文件大小受账号套餐的 Excel 导入上限（单位 MB）限制，扩展名须为 xls / xlsx / csv；不满足时返回 422，`error_description` 为具体校验信息（使用上传令牌时令牌保持可用，可重新上传）。
        表单不存在或当前身份无权访问时返回 404 `form cannot be found`。

        OAuth 令牌需要 scope：write_entries
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                import_file_token:
                  type: string
                  description: 一次性上传令牌，以 `import_file_tok_` 开头；传入时代替常规凭证
                file:
                  type: string
                  description: 待导入的 xlsx / xls / csv 文件；使用上传令牌时文件名、Content-Type、大小须与令牌记录的一致
                  contentMediaType: application/octet-stream
              additionalProperties: false
      responses:
        '201':
          description: 上传成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedImportFile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 文件未通过校验（超过套餐导入上限或扩展名不支持）
          content:
            application/json:
              schema:
                type: object
                required:
                - error_description
                properties:
                  error_description:
                    type: string
                    description: 校验失败原因
  "/forms/{form_token}/entry_imports":
    post:
      tags:
      - Entries
      summary: 从已上传的表格文件导入数据
      operationId: createEntryImport
      description: |
        把「上传导入文件」得到的表格文件逐行追加为该表单的数据。先上传文件拿到导入附件 ID（`attachment_id`），再在这里说明哪一列写入哪个字段。
        文件、套餐导入上限、表头行、列映射等能预先判断的问题都在创建任务之前校验，被拒绝的导入不会写入任何数据；错误信息会带上这份表格的实际布局（行列范围与表头内容），便于据此修正后重试。
        校验通过后返回 `201`，数据在后台写入：`201` 表示任务已开始而非已完成，用「获取数据导入任务」轮询结果。
        - `attachment_id` 必须是当前用户为该表单上传的导入文件，否则返回 400（找不到该文件，需重新上传）；文件不是 xls / xlsx / csv 或无法读取时返回 400。
        - `columns` 不能为空；每项用 `field_api_code` 指定目标字段，并用 `column_label`（表头文字，需与表头单元格去掉首尾空格后完全一致）或 `sheet_column_index`（列号）指定来源列，两者都给时以 `sheet_column_index` 为准。
        - 字段必须是该表单可导入的字段；同一字段不能对应多列；表头中有多列同名时必须改用 `sheet_column_index`；列号必须在表格的列范围内。
        - `header_row_index` 缺省为表格的第一行，且其下方必须还有数据行。
        - 表单的必填字段都必须有对应的列，否则返回 400 并列出缺少的字段。
        - `unique_field_code` 指定一个字段做去重：文件中该字段的值已存在于表单数据时，这一行会被跳过（计入 `skip_count`）。
        - 表单不存在或当前身份无权访问时返回 404 `form cannot be found`。

        OAuth 令牌需要 scope：write_entries
      parameters:
      - $ref: '#/components/parameters/FormToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryImportInput'
      responses:
        '201':
          description: 导入任务已创建，数据在后台写入
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryImportCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/forms/{form_token}/entry_imports/{id}":
    get:
      tags:
      - Entries
      summary: 获取数据导入任务
      operationId: getEntryImport
      description: |
        返回一个数据导入任务的进度与结果。`status` 为 `pending` / `running` 时任务仍在进行，`processed_rows` 与 `total_rows` 可用于展示进度；
        `success` / `failed` / `cancelled` 为终态，`imported_count` / `skip_count` / `invalid_count` 为写入、跳过、校验失败的行数，`warnings` 为逐行提示，`error_message` 为任务失败原因。
        任务只能通过它导入的表单读取：id 不存在、不是合法 id 或属于其他表单时返回 404 `Import job not found for this form — check the id, and that it belongs to this form.`。
        表单不存在或当前身份无权访问时返回 404 `form cannot be found`。

        OAuth 令牌需要 scope：write_entries
      parameters:
      - $ref: '#/components/parameters/FormToken'
      - $ref: '#/components/parameters/EntryImportId'
      responses:
        '200':
          description: 导入任务
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryImportJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/form_image_attachments":
    post:
      tags:
      - Uploads
      summary: 上传表单图片
      operationId: uploadFormImage
      security:
      - {}
      - bearerAuth: []
      - basicAuth: []
      description: |
        上传一张属于表单本身的图片（图片选项图、表头图、背景图、表头轮播图的一帧），返回图片附件 ID。图片此时尚未绑定到任何表单，之后在表单或主题中引用它时才生效。
        鉴权方式二选一：
        1. 常规 API 凭证（HTTP Basic 的 api_key / api_secret，或 Bearer 令牌），此时必须用 `image_type` 说明图片用途，且只能是 `header`（表头图）或 `wallpaper`（背景图）：返回的 `attachment_id` 交给「更新表单主题」的 `header.header_image_attachment_id` / `wallpaper.background_image_attachment_id`。`image_type` 缺失或不在 `field_choice` / `header` / `wallpaper` / `carousel` 之内时返回 400 `image_type must be one of: field_choice, header, wallpaper, carousel.`；`field_choice` / `carousel` 没有接受附件 ID 的地方，只能配合上传令牌上传，否则返回 400。
        2. 一次性上传令牌 `form_image_token`（代替常规凭证）：令牌以 `form_img_tok_` 开头，30 分钟内有效、只能使用一次，已记录图片用途（`field_choice` / `header` / `wallpaper` / `carousel`，此时忽略 `image_type`）与文件元数据；上传文件的原始文件名、Content-Type、字节数必须与令牌记录的一致，否则返回 400。上传成功后不要直接使用返回的 `attachment_id`，而是在「创建表单」/「编辑表单」的选项 `image_upload_token`，或「更新表单主题」的 `header.header_image_upload_token` / `wallpaper.background_image_upload_token` / `header.carousel_images[].image_upload_token` 中引用同一个令牌。令牌不存在、已过期、已使用，或所属用户已被删除时返回 400 `form_image_token is invalid or expired; prepare upload again`。
        没有凭证也没有 `form_image_token` 时返回 401。请求必须为 `multipart/form-data`，字段 `file` 携带图片二进制；缺少文件返回 400 `file is required`。

        OAuth 令牌需要 scope：`image_type`（或令牌记录的用途）为 field_choice 时需要 forms，其余需要 form_setting
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                image_type:
                  type: string
                  enum:
                  - field_choice
                  - header
                  - wallpaper
                  - carousel
                  description: 图片用途；不带上传令牌时必填且只能为 header / wallpaper，带上传令牌时忽略
                form_image_token:
                  type: string
                  description: 一次性上传令牌，以 `form_img_tok_` 开头；传入时代替常规凭证
                file:
                  type: string
                  description: 图片文件；使用上传令牌时文件名、Content-Type、大小须与令牌记录的一致
                  contentMediaType: application/octet-stream
              additionalProperties: false
      responses:
        '201':
          description: 上传成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFormImage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables":
    get:
      tags:
      - Tables
      summary: 获取表格列表
      operationId: listTables
      description: |
        返回当前身份可见的数据表格（`kind=table`）。分页、`q`、`filters`、`sort`、`next`、`skip`、`limit` 的语义与表单列表相同，每页默认 50 条，最大 1000。

        OAuth 令牌需要 scope：forms
      parameters:
      - $ref: '#/components/parameters/FormsQ'
      - $ref: '#/components/parameters/FormsFilters'
      - $ref: '#/components/parameters/FormsSort'
      - $ref: '#/components/parameters/FormsNext'
      - $ref: '#/components/parameters/FormsSkip'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: 表格列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
      - Tables
      summary: 创建表格
      operationId: createTable
      description: |
        创建一个数据表格。与创建表单相同，但：
        - 字段类型只能是表格支持的列类型：`TextArea`、`RadioButton`、`CheckBox`、`BooleanField`、`MobileField`、`NumberField`、`DateTimeField`、`EmailField`、`LinkField`、`AttachmentField`、`FormulaField`；
        - 附件列不接受数量 / 大小上限等限制属性，数字 / 计算列的精度受限，违反时返回 400 并列出问题列；
        - 选项列不会生成「其他」选项；`folder_token` 必须是 table 文件夹；不支持 `layout`。
        - `with_default_entries: true` 时创建后预置 3 条空白数据（与产品内新建表格一致），缺省不预置。
        返回包含字段与视图的表格结构。

        OAuth 令牌需要 scope：forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableCreateInput'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: folder_token 指定的文件夹不存在或不可管理
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables/{table_token}":
    parameters:
    - $ref: '#/components/parameters/TableToken'
    get:
      tags:
      - Tables
      summary: 获取表格结构
      operationId: getTable
      description: |
        返回表格的基本信息、字段定义与当前身份可见的视图列表。token 对应的不是表格（如是普通表单）时返回 404 `table cannot be found`。

        OAuth 令牌需要 scope：forms
      responses:
        '200':
          description: 表格结构
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - name: include_analytics
        in: query
        required: false
        description: 是否在每个可分析字段上附带 `analytics`（可用的聚合函数、能否分组、数据概况形态），缺省为 false。
        schema:
          type: boolean
          default: false
    patch:
      tags:
      - Tables
      summary: 编辑表格
      operationId: updateTable
      description: |
        增量编辑表格，也接受 `PUT`。请求体与编辑表单相同（`kind` 会被忽略）；`fields.add` 与 `fields.update` 中的附件列不接受限制属性，`fields.add` 的类型必须是表格支持的列类型。

        OAuth 令牌需要 scope：forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormUpdateInput'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
      - Tables
      summary: 删除表格
      operationId: deleteTable
      description: |
        删除表格及其数据，成功返回表格 token。

        OAuth 令牌需要 scope：forms
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                required:
                - token
                properties:
                  token:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables/{table_token}/fields/check":
    get:
      tags:
      - Tables
      summary: 检查表格列是否已有数据
      description: |
        与 GET /forms/{form_token}/fields/check 相同，作用于数据表格的列。`table_token` 指向的不是数据表格时返回 404（`table cannot be found`）。

        OAuth 令牌需要 scope：forms。
      operationId: checkTableFieldData
      parameters:
      - $ref: '#/components/parameters/TableToken'
      - $ref: '#/components/parameters/FieldDataChecks'
      responses:
        '200':
          description: 逐项检查结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDataCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables/{table_token}/fields/preview_convert":
    get:
      tags:
      - Tables
      summary: 预览表格列类型转换
      description: |
        与 GET /forms/{form_token}/fields/preview_convert 相同，作用于数据表格的列；`target_type` 只接受表格支持的列类型（见 `GET /field_types?kind=table`）。
        `table_token` 指向的不是数据表格时返回 404（`table cannot be found`）。

        OAuth 令牌需要 scope：forms。
      operationId: previewTableFieldTypeChange
      parameters:
      - $ref: '#/components/parameters/TableToken'
      - $ref: '#/components/parameters/FieldTypeChangeChecks'
      responses:
        '200':
          description: 逐项预览结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldTypeChangePreviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables/{table_token}/entries":
    parameters:
    - $ref: '#/components/parameters/TableToken'
    get:
      tags:
      - Tables
      summary: 获取表格数据列表
      operationId: listTableEntries
      description: |
        与 `GET /forms/{form_token}/entries` 完全相同，仅要求目标是表格（否则 404 `table cannot be found`）。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/EntriesFields'
      - $ref: '#/components/parameters/EntriesFilters'
      - $ref: '#/components/parameters/EntriesKeyword'
      - $ref: '#/components/parameters/EntriesSort'
      - $ref: '#/components/parameters/EntriesCreatedAt'
      - $ref: '#/components/parameters/EntriesNext'
      - $ref: '#/components/parameters/EntriesSkip'
      - $ref: '#/components/parameters/EntriesIncludeLabels'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: 数据列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
      - Tables
      summary: 新增表格数据
      operationId: createTableEntry
      description: |
        与 `POST /forms/{form_token}/entries` 相同。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/EntryValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables/{table_token}/entries/count":
    parameters:
    - $ref: '#/components/parameters/TableToken'
    get:
      tags:
      - Tables
      summary: 统计表格数据条数
      operationId: countTableEntries
      description: |
        与 `GET /forms/{form_token}/entries/count` 完全相同，仅要求目标是表格（否则 404 `table cannot be found`）。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/EntriesFilters'
      - $ref: '#/components/parameters/EntriesKeyword'
      responses:
        '200':
          description: 数据条数
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryCountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables/{table_token}/entries/aggregate":
    parameters:
    - $ref: '#/components/parameters/TableToken'
    get:
      tags:
      - Tables
      summary: 聚合统计表格数据
      operationId: aggregateTableEntries
      description: |
        与 `GET /forms/{form_token}/entries/aggregate` 完全相同，仅要求目标是表格（否则 404 `table cannot be found`）。
        字段可用的函数与分组方式见 `GET /tables/{table_token}?include_analytics=true`。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/AggregateMetrics'
      - $ref: '#/components/parameters/AggregateDimensions'
      - $ref: '#/components/parameters/AggregateLimit'
      - $ref: '#/components/parameters/EntriesFilters'
      - $ref: '#/components/parameters/EntriesKeyword'
      responses:
        '200':
          description: 聚合结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryAggregateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables/{table_token}/entries/summary":
    parameters:
    - $ref: '#/components/parameters/TableToken'
    get:
      tags:
      - Tables
      summary: 表格数据概况
      operationId: summarizeTableEntries
      description: |
        与 `GET /forms/{form_token}/entries/summary` 完全相同，仅要求目标是表格（否则 404 `table cannot be found`）。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/SummaryFields'
      - $ref: '#/components/parameters/SummaryIncludeOverview'
      - $ref: '#/components/parameters/EntriesFilters'
      - $ref: '#/components/parameters/EntriesKeyword'
      responses:
        '200':
          description: 数据概况
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntrySummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables/{table_token}/entries/{serial_number}":
    parameters:
    - $ref: '#/components/parameters/TableToken'
    - $ref: '#/components/parameters/SerialNumber'
    get:
      tags:
      - Tables
      summary: 获取单条表格数据
      operationId: getTableEntry
      description: |
        与 `GET /forms/{form_token}/entries/{serial_number}` 相同。

        OAuth 令牌需要 scope：read_entries
      parameters:
      - $ref: '#/components/parameters/EntriesFields'
      - $ref: '#/components/parameters/EntriesIncludeLabels'
      responses:
        '200':
          description: 单条数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
      - Tables
      summary: 覆盖更新表格数据
      operationId: replaceTableEntry
      description: |
        与 `PUT /forms/{form_token}/entries/{serial_number}` 相同（整体覆盖）。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/EntryValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
      - Tables
      summary: 增量更新表格数据
      operationId: updateTableEntry
      description: |
        与 `PATCH /forms/{form_token}/entries/{serial_number}` 相同（增量更新）。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/EntryValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
      - Tables
      summary: 删除表格数据
      operationId: deleteTableEntry
      description: |
        与 `DELETE /forms/{form_token}/entries/{serial_number}` 相同。

        OAuth 令牌需要 scope：write_entries
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                required:
                - serial_number
                properties:
                  serial_number:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
      - Tables
      summary: 增量更新表格数据（POST）
      operationId: updateTableEntryViaPost
      description: |
        与 `PATCH` 同路径的 POST 别名，语义为增量更新。

        OAuth 令牌需要 scope：write_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntryInput'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/EntryValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  "/tables/{table_token}/entries/{serial_number}/comments":
    parameters:
    - $ref: '#/components/parameters/TableToken'
    - $ref: '#/components/parameters/SerialNumber'
    get:
      tags:
      - Comments
      summary: 列出表格数据评论
      description: 按创建时间升序返回表格中该条数据的全部评论，规则与表单数据评论相同。token 对应的不是表格时返回 404（table cannot be found）。 OAuth 令牌需要 scope：read_entries。
      operationId: listTableEntryComments
      responses:
        '200':
          description: 评论列表
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - data
                properties:
                  count:
                    type: integer
                    description: 评论数量
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntryComment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Comments
      summary: 创建表格数据评论
      description: 在表格的该条数据下创建评论，参数与限制与表单数据评论相同（content 必填、最长 2000 字、提及者必须是协作者、parent_id 须属于同一条数据）。 token 对应的不是表格时返回 404（table cannot be found）。 OAuth 令牌需要 scope：read_entries。
      operationId: createTableEntryComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EntryCommentInput'
              - type: object
                required:
                - content
      responses:
        '201':
          description: 创建成功，返回评论
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryComment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  "/tables/{table_token}/entries/{serial_number}/comments/{comment_id}":
    parameters:
    - $ref: '#/components/parameters/TableToken'
    - $ref: '#/components/parameters/SerialNumber'
    - name: comment_id
      in: path
      required: true
      description: 评论 id
      schema:
        type: string
    patch:
      tags:
      - Comments
      summary: 更新表格数据评论
[...]
